*{
    margin: 0;
}
html{
    box-sizing: border-box;
    
}
@font-face {
    font-family: 'Inter-VariableFont_sintsght';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
:root{
    --black: #141414;
    --dark-grey: #1F1F1F;
    --grey: #333333;
    --white: #FFFFFF;
    --neon-green: #C4F82A;
    --default-font: 'Inter-VariableFont_sintsght';
}
body{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ************************** */
/* MOBILE FIRST STYLING GUIDE */
/* ************************** */


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    background-color: var(--dark-grey);
    padding-block: 2rem;
    border-radius: .7rem;
    max-width: 327px;
    width: 327px;
    color: var(--white);
    font-family: var(--default-font);
    padding-bottom: .5rem;
    
}

img{
    max-width: 88px;
    border-radius: 50%;
}

h1.nameSpace{
    margin-block-start: 1.5rem;
    margin-block-end: .5rem;
    font-weight: 400;
    font-size: 1.5rem;
}

h2.location{
    color: var(--neon-green);
    font-size: .9rem;
}

h3.description{
    font-size: .85rem;
    font-weight: 300;
    margin-block-end: 1.5rem;
    margin-block-start: 1.5rem;
}

/* LINKS */

button{ 
    width: 276px;
    padding: .8rem;
    margin-block-end: 1.1rem;
    border-radius: .5rem;
    background-color: var(--grey);
    border: none;
    font-weight: 600;
    font-size: .9rem;
    color: var(--white);
}
a{
    color: var(--white);
    
}

.attribution { 
    margin-top: 7rem;
    font-size: 11px; 
    text-align: center; 
    position: fixed; 
    left: 0;
    right: 0; 
    bottom: 0;
    text-align: center;
    padding: 20px; 
}


.attribution a { 
    color: hsl(228, 45%, 44%); 
}
