*{
    margin: 0;
}
html{
    box-sizing: border-box;
    
}
@font-face {
    font-family: 'Inter-VariableFont_sintsght';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
:root{
    --black: #141414;
    --dark-grey: #1F1F1F;
    --grey: #333333;
    --white: #FFFFFF;
    --neon-green: #C4F82A;
    --default-font: 'Inter-VariableFont_sintsght';
}
body{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ************************** */
/* MOBILE FIRST STYLING GUIDE */
/* ************************** */
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
    background-color: var(--dark-grey);
    /* padding: 2rem; */
    padding-block: 2rem;
    border-radius: .7rem;
    max-width: 327px;
    color: var(--white);
    font-family: var(--default-font);
    
}

img{
    max-width: 88px;
    border-radius: 50%;
}

h1.nameSpace{
    margin-block-start: 1.5rem;
    font-weight: 400;
    font-size: 2rem;
}

h2.location{
    color: var(--neon-green);
    font-size: 1rem;
}

h3.description{

}

/* LINKS */
.links{

}
